{% extends 'base.html.twig' %}

{% block title %}Liste étudiants
{% endblock %}

{% block body %}
	
	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Liste des étudiants</div>
	</div>
	<table class="table table-striped">
		<thead>
			<td>Nom de l'étudiant</td>
			<td>Prénom de l'étudiant</td>
			<td>Date de Rencontre</td>
			<td>Consulter l'évaluation</td>
		</thead>

		<tbody>
			{% for evaluation in evaluations%}
				<tr>
					<td>{{evaluation.cotation[0].user.lastname}}</td>
					<td>{{evaluation.cotation[0].user.firstname}}</td>
					<td>{{evaluation.dateCreation| date('d/m/Y')}}</td>
					<td>
						<a class="btn btn-success" href="{{path('viewStudentEvaluation',{'id':evaluation.id})}}">Consulter l'évaluation</a>
					</td>
					
				</tr>
			</tbody>
		{% endfor %}
	</table>
{% endblock %}