{% extends 'base.html.twig' %}

{% block title %}Création skill et subskill
{% endblock %}
{% block body %}
	<h1>Compétence</h1>
	{{ form_start(form) }}


	<button type="submit">Créer compétence</button>

{% endblock %}
