{% extends 'base.html.twig' %}

{% block title %}listes compétence
{% endblock %}
{% block body %}
	<table>
		<thead>
			<td>Name</td>
			<td>Section</td>
			<td>Number</td>
			<td>Edit</td>
			<td>View SubSkill</td>
			<td></td>
		</thead>

		<tbody>
			{% for skill in skills%}
				<tr>
					<td>{{skill.name}}</td>
					<td>{{skill.section}}</td>
					<td>{{skill.skillNumber}}</td>
					<td>
						<a href="{{path('testSubSkill',{'id' : skill.id})}}">Ajouter sous-compétence</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
