{% extends 'base.html.twig' %}

{% block title %}Liste utilisateur
{% endblock %}

{% block body %}

	<div class="btn-toolbar mb-2 mb-md-0">
		<h1>Liste des utilisateurs</div>
	</div>
	<table class="table table-striped">
		<thead>
			<td>Nom de l'utilisateur</td>
			<td>Prénom de l'utilisateur</td>
			<td>Type d'utilisateur</td>
		</thead>

		<tbody>
			{% for student in students%}
				<tr>
					<td>{{student.lastname}}</td>
					<td>{{student.firstname}}</td>
					<td>{{student.type}}</td>
				</tr>
			</tbody>
		{% endfor %}
	</table>
{% endblock %}